<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
  <title>Material Design for Bootstrap</title>
</head>

<body>
    <!--Main Navigation-->
<header id="header-hbs"></header>
  <!--Main Navigation-->
  <!-- Section: Products v.3 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Products</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
    nostrum quisquam eum porro a pariatur veniam.</p>

    <section id="list"></section>
  <!-- <div class="row mx-0 w-100">
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
      <div class="card align-items-center">
        <div class="overlay">
          <img src="https://enter.online/images/detailed/49/apple_mnea2_white1.png" class="card-img-top">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="/product-details" class="grey-text">
            <h5>Shirt</h5>
          </a>
          <h5>
            <strong>
              <a href="/product-details" class="dark-grey-text">Denim shirt
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
      <div class="card align-items-center">
        <div class="overlay">
          <img src="https://enter.online/images/detailed/49/apple_mnea2_white1.png" class="card-img-top"
            alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="/product-details" class="grey-text">
            <h5>Sport wear</h5>
          </a>
          <h5>
            <strong>
              <a href="/product-details" class="dark-grey-text">Sweatshirt</a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
      <div class="card align-items-center">
        <div class="overlay">
          <img src="https://enter.online/images/detailed/49/apple_mnea2_white1.png" class="card-img-top"
            alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="/product-details" class="grey-text">
            <h5>Sport wear</h5>
          </a>
          <h5>
            <strong>
              <a href="/product-details" class="dark-grey-text">Grey blouse
                <span class="badge badge-pill primary-color">BEST</span>
              </a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card align-items-center">
        <div class="overlay">
          <img src="https://enter.online/images/detailed/49/apple_mnea2_white1.png" class="card-img-top"
            alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body text-center">
          <a href="/product-details" class="grey-text">
            <h5>Outwear</h5>
          </a>
          <h5>
            <strong>
              <a href="/product-details" class="dark-grey-text">Black jacket</a>
            </strong>
          </h5>
          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>
        </div>
      </div>
    </div>

  </div> -->

</section>
<!-- Section: Products v.3 -->
  <!-- <table id="dt-select" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Extn.</th>
        <th>Start date</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="list"></tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Extn.</th>
        <th>Start date</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </tfoot>
  </table> -->
  </div>

    <!--Footer-->
<footer class="page-footer center-on-small-only stylish-color-dark" id="footer-hbs">

    
  
  </footer>
</body>

</html>