footer {
    .container {
        margin: 0 20px;
    }

    .call-to-action, 
    .social-section {
        ul {
            list-style: none;
            padding: 0;
        }
    }

    .call-to-action {
        text-align: center;
    }

    .social-section {
        ul {
            display: flex;
            justify-content: center;
        }
    };
}
